<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA DE VENTAS</title>
    <link rel="stylesheet" href="./css/bulma.min.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/sweetalert2.min.css">
    <script src="./js/sweetalert2.all.min.js" ></script>
</head>
<body>


    <!-- 404 error -->
    <div class="main-container">
        <section class="hero-body">
            <div class="hero-body">
                <p class="has-text-centered has-text-white pb-3">
                    <i class="fas fa-satellite-dish fa-5x"></i>
                </p>
                <p class="title has-text-white">Error 404</p>
                <p class="subtitle has-text-white">Pagina no encontrada</p>
            </div>
        </section>
    </div> <!-- Fin 404 error -->
    



    <script src="./js/main.js" ></script>
</body>
</html>