<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA DE VENTAS</title>
    <link rel="stylesheet" href="./css/bulma.min.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/sweetalert2.min.css">
    <script src="./js/sweetalert2.all.min.js" ></script>
</head>
<body>

    <!-- Main container -->
    <main class="page-container">



        <!-- NavLateral -->
        <section class="full-width navLateral scroll" id="navLateral">
            <div class="full-width navLateral-body">
                <div class="full-width navLateral-body-logo has-text-centered tittles is-uppercase">
                    Sistema de ventas 
                </div>
                <figure class="full-width" style="height: 77px;">
                    <div class="navLateral-body-cl">
                        <img class="is-rounded img-responsive" src="./fotos/default.png">
                    </div>
                    <figcaption class="navLateral-body-cr pt-3">
                        <span>
                            Nombre de usuario<br>
                            <small>(Cargo)</small>
                        </span>
                    </figcaption>
                </figure>
                <div class="full-width tittles navLateral-body-tittle-menu has-text-centered is-uppercase">
                    <i class="fas fa-th-large fa-fw"></i> &nbsp; SISTEMA DE VENTAS
                </div>
                <nav class="full-width">
                    <ul class="full-width list-unstyle menu-principal">

                        <li class="full-width">
                            <a href="dashboard.html" class="full-width">
                                <div class="navLateral-body-cl">
                                    <i class="fab fa-dashcube fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    Inicio
                                </div>
                            </a>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-cash-register fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    CAJAS
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-cash-register fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Nueva caja
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-clipboard-list fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Lista de cajas
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-users fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    USUARIOS
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-cash-register fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Nuevo usuario
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-clipboard-list fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Lista de usuarios
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-address-book fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    CLIENTES
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-male fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Nuevo cliente
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-clipboard-list fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Lista de clientes
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-tags fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    CATEGORIAS
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-tag fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Nueva categoría
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-clipboard-list fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Lista de categorías
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-cubes fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    PRODUCTOS
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-box fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Nuevo producto
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-clipboard-list fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Lista de productos
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-boxes fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Productos por categoría
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-shopping-cart fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    VENTAS
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-cart-plus fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Nueva venta
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-clipboard-list fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Lista de ventas
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="far fa-file-pdf fa-fw"></i> 
                                </div>
                                <div class="navLateral-body-cr">
                                    REPORTES
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-hand-holding-usd fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Reporte general de ventas
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-box-open fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Reporte general de inventario
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width">
                            <a href="#" class="full-width btn-subMenu">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-cogs fa-fw"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    CONFIGURACIONES
                                </div>
                                <span class="fas fa-chevron-down"></span>
                            </a>
                            <ul class="full-width menu-principal sub-menu-options">
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-store-alt fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Datos de empresa
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-user-tie fa-fw"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Mi cuenta
                                        </div>
                                    </a>
                                </li>
                                <li class="full-width">
                                    <a href="#" class="full-width">
                                        <div class="navLateral-body-cl">
                                            <i class="fas fa-camera"></i>
                                        </div>
                                        <div class="navLateral-body-cr">
                                            Mi foto
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="full-width divider-menu-h"></li>

                        <li class="full-width mt-5">
                            <a href="#" class="full-width btn-exit" >
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-power-off"></i>
                                </div>
                                <div class="navLateral-body-cr">
                                    Cerrar sesión
                                </div>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </section> <!-- Fin NavLateral -->



        <!-- Page content -->
        <section class="full-width pageContent scroll" id="pageContent">

            <!-- NavBar -->
            <div class="full-width navBar">
                <div class="full-width navBar-options">
                    <i class="fas fa-exchange-alt fa-fw" id="btn-menu"></i> 
                    <nav class="navBar-options-list">
                        <ul class="list-unstyle">
                            <li class="text-condensedLight noLink" >
                                <a class="btn-exit" href="#" >
                                    <i class="fas fa-power-off"></i>
                                </a>
                            </li>
                            <li class="text-condensedLight noLink" >
                                <small>Usuario</small>
                            </li>
                            <li class="noLink">
                                <img class="is-rounded img-responsive" src="./fotos/default.png">
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> <!-- Fin NavBar -->



            <!-- Content -->
            <div class="container is-fluid">
                <h1 class="title">Home</h1>
                <div class="columns is-flex is-justify-content-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="./fotos/default.png">
                    </figure>
                </div>
                <div class="columns is-flex is-justify-content-center">
                    <h2 class="subtitle">¡Bienvenido NOMBRE DE USUARIO!</h2>
                </div>
            </div>

            <div class="container pb-6 pt-6">

                <div class="columns pb-6">
                    <div class="column">
                        <nav class="level is-mobile">

                            <div class="level-item has-text-centered">
                                <a href="cashierList/">
                                    <p class="heading"><i class="fas fa-cash-register fa-fw"></i> &nbsp; Cajas</p>
                                    <p class="title">0</p>
                                </a>
                            </div>

                            <div class="level-item has-text-centered">
                                <a href="userList/">
                                    <p class="heading"><i class="fas fa-users fa-fw"></i> &nbsp; Usuarios</p>
                                    <p class="title">0</p>
                                </a>
                            </div>

                            <div class="level-item has-text-centered">
                                <a href="clientList/">
                                    <p class="heading"><i class="fas fa-address-book fa-fw"></i> &nbsp; Clientes</p>
                                    <p class="title">0</p>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="columns pt-6">
                    <div class="column">
                        <nav class="level is-mobile">

                            <div class="level-item has-text-centered">
                                <a href="categoryList/">
                                  <p class="heading"><i class="fas fa-tags fa-fw"></i> &nbsp; Categorías</p>
                                  <p class="title">0</p>
                                </a>
                            </div>

                            <div class="level-item has-text-centered">
                                <a href="productList/">
                                    <p class="heading"><i class="fas fa-cubes fa-fw"></i> &nbsp; Productos</p>
                                    <p class="title">0</p>
                                </a>
                            </div>

                            <div class="level-item has-text-centered">
                                <a href="saleList/">
                                    <p class="heading"><i class="fas fa-shopping-cart fa-fw"></i> &nbsp; Ventas</p>
                                    <p class="title">0</p>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
                
            </div>
            <!-- Fin content -->


        </section> <!-- Fin page content -->

    </main> <!-- Fin main container -->

    <script src="./js/main.js" ></script>
</body>
</html>